<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <script _src="ROOT_URL . '/view/jsLoad/code/load.js'" include="/jsLoad/top.html"></script>
    <!--加css-->
    <link _href="ROOT_URL . '/view/css/plugins/iCheck/custom.css'" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>登 录</h3>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm" onsubmit="return loginObject.login(this);">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon "><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input type="email" id="user_email" name="user_email" placeholder="邮箱" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" id="user_password" name="user_password" placeholder="密码" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox col-sm-6" style="float: left">
                                <label>
                                    <input type="checkbox" class="i-checks" id="remember_me" name="remember_me"><i> 记住账号 </i>
                                </label>
                            </div>
                            <div class="col-sm-6" style="float: right">
                                <a type="button" class="space" href="http://www.itdreamworks.com/"
                                    target="_blank">忘记账号或密码</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6  text-center" style="float: left">
                                <button type="submit" class="btn btn-w-m btn-primary">登录</button>
                            </div>
                            <div class="col-sm-6  text-center" style="float: right">
                                <button type="button" class="btn btn-w-m btn-white">注册</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script _src="ROOT_URL . '/view/jsLoad/code/load.js'" include="/jsLoad/js.html"></script>
<!--加本页面 的js文件与js代码-->
<script _src="ROOT_URL . '/view/js/plugins/validate/jquery.validate.min.js'"></script>
<script _src="ROOT_URL . '/view/js/plugins/validate/messages_zh.min.js'"></script>
<script _src="ROOT_URL . '/view/js/demo/form-validate-demo.min.js'"></script>

<script _src="ROOT_URL . '/view/js/plugins/iCheck/icheck.min.js'"></script>

<script>
    $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
</script>

<script type="tpl" _src="ROOT_URL . '/view/js/account/login.js'"></script>

</body>

</html>
