<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#4DA5F4">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="WIDNoLrWyU7n4EXvXOMU0HRzu+gUd93k3albQ=">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <title>It dream works - 登录</title>
    <link rel="shortcut icon" _href="ROOT_URL . '/favicon.png'">
    <script _src="ROOT_URL . '/view/jsLoad/code/load.js'" include="/jsLoad/top.html"></script>
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
    <!--加css-->
    <link _href="ROOT_URL . '/view/css/main.css'" rel="stylesheet">
    <link _href="ROOT_URL . '/view/css/plugins/iCheck/custom.css'" rel="stylesheet">
    <link type="text/css" rel="stylesheet" _href="ROOT_URL . '/view/css/style2.css'">

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 left-column no-float">
            <!--<div class="logo-full"></div>-->
            <div class="form-block">
                <div class="col-md-1"><p>&nbsp;</p></div>
                <div class="col-md-5 white-block"><h3>登&nbsp;录</h3>
                    <form class="form-horizontal" id="signup-form" method="POST">
                        <input name="_csrf" type="hidden"
                               value="WIDNoLrWyU7n4EXvXOMU0HRzu+gUd93k3albQ=">
                        <input
                            class="form-control" name="email" id="email" placeholder="邮&nbsp;箱"
                            autofocus="" required="" type="email">
                        <input class="form-control" name="password" id="password"
                               placeholder="密&nbsp;码" required="" type="password">
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-8">
                                <button class="btn btn-save pull-right" type="submit">登&nbsp;录</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <button class="btn btn-sm btn-link pull-right m-t-n-xs" type="submit">
                                    <strong>忘记账号或密码</strong>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <label>
                                    <input type="checkbox" class="i-checks" id="remember_me" name="remember_me"><i> 记住账号 </i>
                                </label>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-md-5 purple-block"><h3>It dream works.</h3>
                    <p>With Chatform, you can design forms and surveys that anyone can fill using their favourite
                        messaging apps, SMS, or web chat.
                    </p>
                    <h4>还没有账号? <a class="btn btn-q-white-trans" href="http://chatform.ai/signup">
                        <strong>注&nbsp;册</strong></a></h4>
                </div>
                <div class="col-md-1"><p>&nbsp;</p></div>
            </div>
        </div>
    </div>
</div>

<script _src="ROOT_URL . '/view/js/analytics.js'"></script>
<script _src="ROOT_URL . '/view/js/main.js'"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID-->
<script>(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-47399515-19', 'auto');
ga('send', 'pageview');</script>
</body>
</html>