<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <script src="jsLoad/code/load.js" include="../top.html"></script>
    <!--加css-->
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>注 册</h3>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm" >
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon "><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input type="email" id="user_email" name="user_email" placeholder="邮箱" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" id="user_password" name="user_password" placeholder="密码" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" id="confirm_user_password" name="confirm_user_password" placeholder="确认密码" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9" style="width: 55%; float: left">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
                                    <input class="form-control" type="text" id="verification_code" name="verification_code" placeholder="验证码">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <img src="/include/of/index.php?c=of_base_com_com&amp;a=captcha&amp;width=100&amp;height=34" id="captcha"
                                    title="点击刷新" style="cursor:pointer; float: right; background-color:#fff;"
                                    onclick="this.src = (this.backupSrc || (this.backupSrc = this.src)) + '&amp;t=' + new Date().getTime()">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="i-checks">
                                        <i>阅读并同意《It dream works》</i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-2 text-center">
                                <button type="button" class="btn btn-w-m btn-primary">注册</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="jsLoad/code/load.js" include="../js.html"></script>
<!--加本页面 的js文件与js代码-->
<script src="js/plugins/validate/jquery.validate.min.js"></script>
<script src="js/plugins/validate/messages_zh.min.js"></script>
<script src="js/demo/form-validate-demo.min.js"></script>

<script src="js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
</script>

</body>

</html>
