<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
        <script src="jsLoad/code/load.js" include="../top.html"></script>
        <!--加css-->
</head>
<body>
<div style="width:800px; margin-top: 20px;">
                <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label">作废原因</label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="3" placeholder="可以输入多行文本"></textarea>
                                </div>
                        </div>



                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn-primary" type="submit">作废</button>
                             <button class="btn btn-danger" type="reset">取消</button>
                          </div>
                    </div>


                </form>
</div>
<script src="jsLoad/code/load.js" include="../js.html"></script>
<!--加本页面 的js文件与js代码-->
</body>
</html>