<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>YKSUI框架 - 主页</title>
    <script src="jsLoad/code/load.js" include="../top.html"></script>
      <!--加css-->
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="speed.html" class="J_menuItem"> CTO看板</a>|
                            <a href="speed.html" class="J_menuItem">IT负责人</a>|
                            <a href="speed.html" class="J_menuItem">业务负责人</a></h5>

                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div id="ctobrand" style="min-width:300px;height:400px"></div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3><a href="speed.html" class="J_menuItem">需求列表</a><span class="text-danger">22个</span></h3>
                        <ul class="connectList agile-list">
                            <li class="warning-element">
                                加强过程管理，及时统计教育经费使用情况，做到底码清楚，
                                <div class="agile-detail">
                                    <i class="fa fa-clock-o"></i> 2015.09.01<i class="glyphicon glyphicon-user"></i>张三
                                </div>
                            </li>
                            <li class="success-element">
                                支持财会人员的继续培训工作。
                                <div class="agile-detail">
                                    <i class="fa fa-clock-o"></i> 2015.05.12
                                </div>
                            </li>
                            <li class="info-element">
                                协同教导处搞好助学金、减免教科书费的工作。
                                <div class="agile-detail">
                                    <i class="fa fa-clock-o"></i> 2015.09.10
                                </div>
                            </li>
                            <li class="danger-element">
                                遵守岗位职责，按时上报各种资料。
                                <div class="agile-detail">

                                    <i class="fa fa-clock-o"></i> 2015.06.10
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3><a href="speed.html" class="J_menuItem">开发中</a><span class="text-danger">22个</span></h3>

                        <ul class="connectList agile-list">
                            <li class="success-element">
                                全面、较深入地掌握我们“产品”的功能、特色和优势并做到应用自如。
                                <div class="agile-detail">
                                    <i class="fa fa-clock-o"></i>创建于2015.09.10<i class="glyphicon glyphicon-user"></i>
                                    需求方张三 项目经理李四
                                </div>
                            </li>
                            <li class="success-element">
                                根据自己以前所了解的和从其他途径搜索到的信息，录入客户资料150家。
                                <div class="agile-detail">

                                    <i class="fa fa-clock-o"></i> 2015.05.12
                                </div>
                            </li>
                            <li class="warning-element">
                                锁定有意向客户20家。
                                <div class="agile-detail">

                                    <i class="fa fa-clock-o"></i> 2015.09.10
                                </div>
                            </li>
                            <li class="warning-element">
                                力争完成销售指标。
                                <div class="agile-detail">

                                    <i class="fa fa-clock-o"></i> 2015.09.09
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3><a href="speed.html" class="J_menuItem">已结项</a><span class="text-danger">22个</span></h3>

                        <ul class="connectList agile-list">
                            <li class="info-element">
                                制定工作日程表
                                <div class="agile-detail">
                                  <i class="fa fa-clock-o"></i>创建于2015.09.10  结项于20170101 <i class="glyphicon 
                                  glyphicon-user"></i>
                                需求方张三 项目经理李四</div>
                            </li>
                            <li class="warning-element">
                                每天坚持打40个有效电话，挖掘潜在客户
                                <div class="agile-detail">
                                                                    <i class="fa fa-clock-o"></i> 2015.09.09
                                </div>
                            </li>
                            <li class="warning-element">
                                拜访客户之前要对该客户做全面的了解(客户的潜在需求、职位、权限以及个人性格和爱好)
                                <div class="agile-detail">

                                </div>
                            </li>

                            <li class="success-element">
                                通过电话销售过程中了解各盛市的设备仪器使用、采购情况及相关重要追踪人
                                <div class="agile-detail">

                                    <i class="fa fa-clock-o"></i> 2015.05.12
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>

         </div>
    <script src="jsLoad/code/load.js" include="../js.html"></script>
    <!--加本页面 的js文件与js代码-->
   <!--图报js--->
    <script type="text/javascript" src="js/plugins/chartJs/highcharts.js"></script>
    <script type="text/javascript" src="js/plugins/chartJs/brand.js"></script>
</body>

</html>
