<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
        <script src="jsLoad/code/load.js" include="../top.html"></script>
        <!--加css-->
</head>
<body>
<div style="width:800px; margin-top: 20px;">
                <form role="form" class="form-horizontal">

                    <div class="form-group">
                    <label class="col-md-5 control-label">实施开始时间</label>
                    <div class="col-md-7">
                        <input id="start" class="form-control layer-date" placeholder="20150106" value="20170501" readonly>
                    </div>
</div>
<div class="form-group">
    <label class="col-md-5 control-label">实施结束时间</label>
    <div class="col-md-7">
        <input id="end" class="form-control layer-date" placeholder="20150106" value="20170501" readonly></div>
</div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">进展情况</label>
                            <div class="col-md-7">
                                <textarea class="form-control" rows="3" placeholder="可以输入多行文本"></textarea>
                                </div>
                        </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">结项文档路径</label>
                        <div class="col-md-7">
                            <input type="text" name="" class="form-control" placeholder="请输入文本">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">结项文档CF地址链接</label>
                        <div class="col-md-7">
                            <input type="text" name="" class="form-control" placeholder="请输入文本">

                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-5 col-md-offset-5">
                            <button class="btn btn-primary" type="submit">更新进展</button>
                            <button class="btn btn-warning" type="submit">结项</button>
                            <button class="btn btn-danger" type="reset">取消</button>
                          </div>
                    </div>


                </form>
</div>
<script src="jsLoad/code/load.js" include="../js.html"></script>
<!--加本页面 的js文件与js代码-->
</body>
</html>